# Environment variables
.env
.env.*

# Node & dependencies
node_modules/
dist/

# SQLite Databases & Local Storage
*.sqlite
*.sqlite3
*.db
Backend/database.sqlite
Backend/data/*.json

# OS & IDE metadata
.DS_Store
.vscode/
.idea/
