# Exemple de variables d'environnement pour Brokex Protocol

PRIVATE_KEY=votre_cle_privee_hex_ici
DEPLOYER_ADDRESS=votre_adresse_public_ici

RPC_URL=https://coston2-api.flare.network/ext/C/rpc
CHAIN_ID=114

FTSO_V2_COSTON2=0xC4e9c78EA53db782E28f28Fdf80BaF59336B304d
TEE_EXTENSION_REGISTRY_COSTON2=0x1a9C4A0f9D76c0b1D91d22E24E573a9b377618aE

VPS_IP=51.178.43.25
PROXY_URL=http://51.178.43.25:6674
TEE_NODE_ADDRESS=0xEDa28D031678F21153924510fC66F665471c4c7f
